/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background: radial-gradient(circle at top, #1a1a1a, #0b0b0b);
  color: #f5e6c8;
  font-family: 'Trebuchet MS', 'Georgia', serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  padding: 1.25rem;
}

.header__title {
  font-size: 2.5rem;
  color: #c9a44c;
  text-shadow:
    0 0 20px rgba(201, 164, 76, 0.6),
    2px 2px 2px #000;
}

/* MAIN */
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

/* PANEL PRINCIPAL */
.game {
  position: relative;
  background: linear-gradient(180deg, #2a2a2a, #0f0f0f);
  border: 3px solid #c9a44c;
  border-radius: 6px;
  padding: 25px 25px;
  width: 500px;
  margin: 0 auto;

  box-shadow: 
    inset 0 0 15px rgba(0, 0, 0, 0.9),
    inset 0 0 5px rgba(201, 164, 76, 0.5),
    0 0 15px rgba(201, 164, 76, 0.3);
}

/* TÍTULO */
.game__title {
  margin-bottom: 15px;
  color: #facc15;
}

/* FORMULARIO */
.game__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.63rem;
  flex-wrap: wrap;
}

.game__label {
  width: 100%;
  margin-bottom: 5px;
}

/* SELECCIÓN */
.game__select {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #c9a44c;
  background-color: #0b0b0b;
  color: #f5e6c8;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* BOTONES */
.game__btn {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #c9a44c;

  background: linear-gradient(180deg, #e6c36a, #a67c00);
  color: #1a1a1a;
  font-weight: bold;

  cursor: pointer;
  transition: all 0.2s ease;
}

.game__btn:hover {
  transform: scale(1.05);
  box-shadow: 
    0 0 10px #c9a44c,
    inset 0 0 5px rgba(255,255,255,0.3);
}

/* BOTÓN REINICIAR */
.game__btn--restart {
  background: linear-gradient(180deg, #8b1e1e, #ef4444);
  color: #fff;
  border: 1px solid #7f1d1d;
}

.game__btn--restart:hover {
  box-shadow: 0 0 10px #ef4444;
}

/* RESULTADO */
.result {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.result__text {
  margin-bottom: 1.25rem;
  min-height: 2.5rem;
  font-style:italic;
}

.result__rounds {
  font-size: 0.95rem;
  color: #d1d5db;
}

/* FOOTER */
.footer {
  border-top: 2px solid #c9a44c;
  padding: 1.25rem;
  background-color: #0b0b0b;
}

.footer__score {
  margin: 5px 0;
  font-weight: bold;
}

.footer__copy {
  margin-top: 3rem;
  font-size: 0.8rem;
  color: #a3a3a3;
}

/* UTILIDADES */
.hidden {
  display: none;
}